---
openapi: 3.0.0
info:
  title: Papaki Resellers API
  version: 4.3.0
  description: API for domain registration and management provided by Papaki for resellers.
servers:
  - url: https://api.papaki.com
    description: Production server
paths:
  /register_url2.aspx:
    post:
      summary: Register a domain
      description: Register a new domain using the domainregister command.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegisterRequest'
      responses:
        '200':
          description: Command completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegisterResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getnameservers:
    post:
      summary: Get nameservers for a domain
      description: Retrieve the nameservers for a specified domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameserverRequest'
      responses:
        '200':
          description: Nameservers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameserverResponse'
  /editnameservers:
    post:
      summary: Edit nameservers for a domain
      description: Modify the nameservers associated with a specified domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditNameserverRequest'
      responses:
        '200':
          description: Nameservers updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditNameserverResponse'
  /domainupdate:
    post:
      summary: Renew a domain
      description: Renew the registration of an existing domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRenewRequest'
      responses:
        '200':
          description: Domain renewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRenewResponse'
  /changeregistrar:
    post:
      summary: Transfer a domain
      description: Transfer a domain from one registrar to another.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainTransferRequest'
      responses:
        '200':
          description: Domain transfer initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainTransferResponse'
  /getcontactdetails:
    post:
      summary: Get contact details for a domain
      description: Retrieve the contact details for a specified domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetContactDetailsRequest'
      responses:
        '200':
          description: Contact details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContactDetailsResponse'
  /savecontactdetails:
    post:
      summary: Set contact details for a domain
      description: Update the contact details for a specified domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetContactDetailsRequest'
      responses:
        '200':
          description: Contact details updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetContactDetailsResponse'
  /domainSearch:
    post:
      summary: Search domain availability
      description: Checks if a domain is available for registration across different TLDs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainSearchRequest'
      responses:
        '200':
          description: Domain search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainSearchResponse'
  /whois:
    post:
      summary: Whois lookup for a domain
      description: Retrieves Whois information for a specified domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhoisRequest'
      responses:
        '200':
          description: Whois information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisResponse'
  /getDomainlock:
    post:
      summary: Get domain lock status
      description: Retrieves the lock status of a domain (not available for .gr, .ελ, and .eu domains).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDomainLockRequest'
      responses:
        '200':
          description: Domain lock status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDomainLockResponse'
  /setDomainlock:
    post:
      summary: Set domain lock status
      description: Enables or disables the lock on a domain (not available for .gr, .ελ, and .eu domains).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDomainLockRequest'
      responses:
        '200':
          description: Domain lock status set successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetDomainLockResponse'
  /sendAuthCode:
    post:
      summary: Send authorization code
      description: Sends an authorization code to the domain owner's email (not supported for .eu domains).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAuthCodeRequest'
      responses:
        '200':
          description: Authorization code sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendAuthCodeResponse'
  /managednssec:
    post:
      summary: Manage DNSSEC for a domain
      description: Enables or disables DNSSEC for a domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageDnssecRequest'
      responses:
        '200':
          description: DNSSEC managed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManageDnssecResponse'
  /dnssecinfo:
    post:
      summary: Get DNSSEC info for a domain
      description: Retrieves DNSSEC information for a domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDnssecInfoRequest'
      responses:
        '200':
          description: DNSSEC information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDnssecInfoResponse'
  /deletedomain:
    post:
      summary: Delete a domain
      description: Deletes a domain from the registry.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDomainRequest'
      responses:
        '200':
          description: Domain deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDomainResponse'
  /changeowner:
    post:
      summary: Change owner of a domain
      description: Changes the ownership details of a domain (not supported for .eu domains).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOwnerRequest'
      responses:
        '200':
          description: Domain ownership changed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeOwnerResponse'
  /multimodifynameserver:
    post:
      summary: Batch modify nameservers
      description: Allows batch modification of multiple nameservers for different domains.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiModifyNameserverRequest'
      responses:
        '200':
          description: Nameservers modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiModifyNameserverResponse'
  /checkphonevalid:
    post:
      summary: Check phone number validity
      description: Verifies if the provided phone number is valid.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPhoneValidRequest'
      responses:
        '200':
          description: Phone number validity checked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckPhoneValidResponse'
  /checknameserver:
    post:
      summary: Check nameserver validity
      description: Checks if a given nameserver is valid.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameserverRequest'
      responses:
        '200':
          description: Nameserver validity checked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameserverResponse'
  /getdomaininfo:
    post:
      summary: Get domain info
      description: Retrieves detailed information about a specific domain.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDomainInfoRequest'
      responses:
        '200':
          description: Domain info retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDomainInfoResponse'
components:
  schemas:
    DomainRegisterRequest:
      type: object
      properties:
        do:
          type: string
          example: domainregister
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to be registered
        owner_CompanyName:
          type: string
          description: Owner company name
        owner_firstname:
          type: string
          description: Owner's first name
        owner_lastname:
          type: string
          description: Owner's last name
        owner_email:
          type: string
          description: Owner's email address
        owner_address:
          type: string
          description: Owner's address
        owner_country:
          type: string
          description: Owner's country code
        regperiod:
          type: integer
          description: Registration period in years
          example: 2
        autorenew:
          type: boolean
          description: Enable or disable autorenewal
      required:
        - do
        - apiKey
        - domainname
        - owner_firstname
        - owner_lastname
        - owner_email
        - owner_address
        - owner_country
        - regperiod
    DomainRegisterResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        expirationdate:
          type: string
          description: Domain expiration date
          format: date-time
        uniqueid:
          type: string
          description: Unique identifier for the domain
    NameserverRequest:
      type: object
      properties:
        do:
          type: string
          example: getnameservers
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to retrieve nameservers for
      required:
        - do
        - apiKey
        - domainname
    NameserverResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        ns1:
          type: string
          description: Nameserver 1
        ns2:
          type: string
          description: Nameserver 2
        ns3:
          type: string
          description: Nameserver 3
        ns4:
          type: string
          description: Nameserver 4
    EditNameserverRequest:
      type: object
      properties:
        do:
          type: string
          example: editnameservers
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to update nameservers for
        NameServers:
          type: object
          properties:
            v4:
              type: array
              items:
                type: object
                properties:
                  Name:
                    type: string
                    description: Nameserver name
                  Ip:
                    type: string
                    description: Nameserver IP address
      required:
        - do
        - apiKey
        - domainname
        - NameServers
    EditNameserverResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    DomainRenewRequest:
      type: object
      properties:
        do:
          type: string
          example: domainupdate
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to be renewed
        regperiod:
          type: integer
          description: Renewal period in years
          example: 2
        idprotect:
          type: boolean
          description: Enable or disable ID protection
      required:
        - do
        - apiKey
        - domainname
        - regperiod
    DomainRenewResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        expirationdate:
          type: string
          description: New expiration date of the domain
          format: date-time
    DomainTransferRequest:
      type: object
      properties:
        do:
          type: string
          example: changeregistrar
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to be transferred
        authcode:
          type: string
          description: Authorization code for the transfer
      required:
        - do
        - apiKey
        - domainname
        - authcode
    DomainTransferResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    GetContactDetailsRequest:
      type: object
      properties:
        do:
          type: string
          example: getcontactdetails
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to get contact details for
      required:
        - do
        - apiKey
        - domainname
    GetContactDetailsResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        registrantFirstName:
          type: string
          description: Registrant's first name
        registrantLastname:
          type: string
          description: Registrant's last name
        registrantEmail:
          type: string
          description: Registrant's email address
        registrantPhone:
          type: string
          description: Registrant's phone number
    SetContactDetailsRequest:
      type: object
      properties:
        do:
          type: string
          example: savecontactdetails
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to set contact details for
        firstname:
          type: string
          description: Registrant's first name
        lastname:
          type: string
          description: Registrant's last name
        emailaddress:
          type: string
          description: Registrant's email address
      required:
        - do
        - apiKey
        - domainname
        - firstname
        - lastname
        - emailaddress
    SetContactDetailsResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    DomainSearchRequest:
      type: object
      properties:
        apiKey:
          type: string
          description: API key for authentication
        type:
          type: string
          example: domainSearch
        lang:
          type: string
          description: Language code
        domain:
          type: string
          description: Domain name without TLD
        extensions:
          type: object
          properties:
            ext:
              type: array
              items:
                type: string
                description: Domain extension
      required:
        - apiKey
        - type
        - domain
        - extensions
    DomainSearchResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        availabledomains:
          type: object
          properties:
            domain:
              type: string
              description: Available domain
        notavailabledomains:
          type: object
          properties:
            domain:
              type: string
              description: Not available domain
    WhoisRequest:
      type: object
      properties:
        apiKey:
          type: string
          description: API key for authentication
        type:
          type: string
          example: whois
        lang:
          type: string
          description: Language code
        domain:
          type: string
          description: Domain name with TLD
      required:
        - apiKey
        - type
        - domain
    WhoisResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        whoisReply:
          type: string
          description: Whois information
    GetDomainLockRequest:
      type: object
      properties:
        do:
          type: string
          example: getDomainlock
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to retrieve lock status for
      required:
        - do
        - apiKey
        - domainname
    GetDomainLockResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        lock_state:
          type: string
          description: Lock state of the domain
    SetDomainLockRequest:
      type: object
      properties:
        do:
          type: string
          example: setDomainlock
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to set lock status for
        locktype:
          type: string
          description: '''disable'' or ''enable'''
      required:
        - do
        - apiKey
        - domainname
        - locktype
    SetDomainLockResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    SendAuthCodeRequest:
      type: object
      properties:
        do:
          type: string
          example: sendAuthCode
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to send the auth code for
      required:
        - do
        - apiKey
        - domainname
    SendAuthCodeResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    ManageDnssecRequest:
      type: object
      properties:
        do:
          type: string
          example: managednssec
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to manage DNSSEC for
        enabled:
          type: boolean
          description: Enable or disable DNSSEC
      required:
        - do
        - apiKey
        - domainname
        - enabled
    ManageDnssecResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    GetDnssecInfoRequest:
      type: object
      properties:
        do:
          type: string
          example: dnssecinfo
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to get DNSSEC info for
      required:
        - do
        - apiKey
        - domainname
    GetDnssecInfoResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        dnssec:
          type: object
          properties:
            keyTag:
              type: string
              description: Key tag for DNSSEC
            alg:
              type: string
              description: Algorithm used for DNSSEC
            digest:
              type: string
              description: Digest for DNSSEC
            publicKey:
              type: string
              description: Public key for DNSSEC
    DeleteDomainRequest:
      type: object
      properties:
        do:
          type: string
          example: deletedomain
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to delete
      required:
        - do
        - apiKey
        - domainname
    DeleteDomainResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    ChangeOwnerRequest:
      type: object
      properties:
        do:
          type: string
          example: changeowner
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to change ownership for
        newOwnerDetails:
          type: object
          properties:
            firstname:
              type: string
              description: New owner's first name
            lastname:
              type: string
              description: New owner's last name
            email:
              type: string
              description: New owner's email address
      required:
        - do
        - apiKey
        - domainname
        - newOwnerDetails
    ChangeOwnerResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    MultiModifyNameserverRequest:
      type: object
      properties:
        do:
          type: string
          example: multimodifynameserver
        apiKey:
          type: string
          description: API key for authentication
        domains:
          type: array
          items:
            type: object
            properties:
              domainname:
                type: string
                description: Domain name to modify nameservers for
              NameServers:
                type: object
                properties:
                  v4:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                          description: Nameserver name
                        Ip:
                          type: string
                          description: Nameserver IP address
      required:
        - do
        - apiKey
        - domains
    MultiModifyNameserverResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    CheckPhoneValidRequest:
      type: object
      properties:
        do:
          type: string
          example: checkphonevalid
        apiKey:
          type: string
          description: API key for authentication
        phone:
          type: string
          description: Phone number to check
      required:
        - do
        - apiKey
        - phone
    CheckPhoneValidResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    CheckNameserverRequest:
      type: object
      properties:
        do:
          type: string
          example: checknameserver
        apiKey:
          type: string
          description: API key for authentication
        nameserver:
          type: string
          description: Nameserver to check
      required:
        - do
        - apiKey
        - nameserver
    CheckNameserverResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
    GetDomainInfoRequest:
      type: object
      properties:
        do:
          type: string
          example: getdomaininfo
        apiKey:
          type: string
          description: API key for authentication
        domainname:
          type: string
          description: Domain name to retrieve information for
      required:
        - do
        - apiKey
        - domainname
    GetDomainInfoResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
        message:
          type: string
          description: Response message
        domainInfo:
          type: object
          properties:
            status:
              type: string
              description: Current status of the domain
            autorenew:
              type: boolean
              description: Autorenew status
            expirationDate:
              type: string
              description: Expiration date of the domain
              format: date-time
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
